body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    font-size: 1.5em;
    height: 2em;
}

button {
    background-image: linear-gradient(rgba(79, 151, 79, 0.616), rgb(131, 75, 75));
    font-size: 1.5em;
    color: indigo;
    padding: 10px;
}

header {
    color: white;
}

p {
    color: azure;
    font-size: 1.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}